body {
  margin: 0px;
}

#header-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: #B8B89D;
  height: 10vh;
  align-items: center;
}

#body-container {
  height: 90vh;
  display: flex;
}

#title-container {
  flex-grow: 1;
  padding-left: 65px;
}

#title {
  font-family: "Josefin Slab", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 40px
}

.nav-button {
  margin-right: 5px;
  width: 120px;
  height: 30px;
  background: #B8B89D;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  border-radius: 12px;
}

.nav-button:hover {
  background-color: #e9e9b5;
}

.button-clicked {
  border-radius: 12px;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
#A8B8AE
#C8C6AD
#98503F
#F2AFA0
#FDDDD1 
*/

.nav-icon {
  color: #575540;
  margin-right: 6px;
}

.sm-icon {
  margin-right: 8px;
}

#home-description {
  height: 40vh;
  background-color: #68736B;
  color: #EEE7D2;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  padding: 60 100 60 100;
}

#mission {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  font-size: 35px;
}

#mission-description {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  font-weight: 350;
  line-height: 22px;
  /* margin: 0 200 0 200; */
  padding: 0 150 0 150;
}

#nav-container {
  padding-right: 65px;
}

.contact-heading {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.contact-description {
  display: flex;
  justify-content: center;
  font-size: 18px;
  text-align: center;
  font-weight: 350;
  line-height: 22px;
  /* margin: 0 200 0 200; */
  padding: 0 150 0 150;
  margin-bottom: 20px;
}

#contact {
  flex-grow: 1;
  height: 40vh;
  background-color: #68736B;
  color: #EEE7D2;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 15px;
  padding: 60 100 60 100;
}

#recipes {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-grow: 1;
}

.recipe {
  display: flex;
  flex-basis: 100%;
  flex-shrink: 1;
  background-color: #68736B;
  margin: 45px;
  border-radius: 75px;
  justify-content: center;
  color: #EEE7D2;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 20px;
  padding-top: 30px;
}